/* HEADER */

.announcement-bar__message {
  color: #ffffff;
}

header.header {
  display: flex;
  justify-content: space-between;
}

header.header.page-width {
  max-width: 1920px;
}

header-drawer {
  order: 4;
}

header .menu-drawer {
  left: unset;
  right: 0;
  transform: translateX(100%);
}

.header__search {
  /* Change liquid? */
  display: none !important;
}

@media screen and (min-width: 990px) {
  .header--middle-left {
    grid-template-columns: 1fr auto 1fr;
  }
}

.cart-count-bubble {
  top: 0rem;
  bottom: unset;
}

/* HEADER END */

/* PRODUCT INFO */

.product {
  align-items: center;
}

product-info.product__info-container > * + * {
  margin: 0;
}

product-info.product__info-container .product-form {
  margin: 0;
}

product-info.product__info-container .product-form__buttons {
  max-width: unset;
}

.product-form__buttons .product-form__submit {
  margin-bottom: 0;
}

product-info.product__info-container {
  display: block;
  padding: 26px 12px 25px 14px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 20px #00000029;
  border: 1px solid #d5d5d5;
  border-radius: 5px;
}

product-info.product__info-container .product__text {
  margin: 0 0 10px 0;
  font-style: normal;
  font-variant: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 27px;
  font-family: Montserrat;
  letter-spacing: 0px;
  color: #000000;
}

product-info.product__info-container .product__title {
  margin: 0 0 23px 0;
}

product-info.product__info-container .product__title h1 {
  font-style: normal;
  font-variant: normal;
  font-weight: medium;
  font-size: 16px;
  line-height: 19px;
  font-family: Montserrat;
}

product-info.product__info-container .price {
  font-style: normal;
  font-variant: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  font-family: Montserrat;
}

product-info.product__info-container .price__container {
  margin: 0 0 23px 0;
}

product-info.product__info-container .price-item {
  font-style: normal;
  font-variant: normal;
  font-weight: 600;
  font-size: 16px !important;
  line-height: 19px;
  font-family: Montserrat;
}

product-info.product__info-container .price-item--regular {
  color: #000000;
}

product-info.product__info-container .price-item--sale {
  color: #1f47ff;
}

product-info.product__info-container .product__tax {
  vertical-align: unset;
  margin-left: 6px;
}

product-info.product__info-container .product__inventory {
  margin-bottom: 34px;
  font-style: normal;
  font-variant: normal;
  font-weight: medium;
  font-size: 15px;
  line-height: 19px;
  font-family: Montserrat;
  letter-spacing: 0px;
  color: #25a525;
}

@media screen and (min-width: 750px) {
  product-info.product__info-container {
    padding: 18px 23px 25px 28px;
    max-width: 475px;
  }

  product-info.product__info-container .product__text {
    margin-bottom: 12px;
    font-size: 25px;
    line-height: 30px;
    font-family: Montserrat;
  }

  product-info.product__info-container .product__title {
    margin: 0 0 20px 0;
  }

  product-info.product__info-container .product__title h1 {
    font-size: 18px;
    line-height: 22px;
  }

  product-info.product__info-container .price {
    font-size: 18px;
    line-height: 22px;
  }

  product-info.product__info-container .price__container {
    margin: 0 0 20px 0;
  }

  product-info.product__info-container .price-item {
    font-size: 18px !important;
    line-height: 22px;
  }

  product-info.product__info-container .product__inventory {
    margin-bottom: 37px;
    font-size: 15px;
    line-height: 19px;
  }
}

/* PRODUCT INFO END*/

/* MULTICOLUMN */

.multicolumn-card.content-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.multicolumn-card__image-wrapper.multicolumn-card__image-wrapper--full-width.multicolumn-card-spacing {
  display: flex;
  align-items: center;
  justify-content: center;
}

.media.media--transparent.media--adapt {
  width: 48px !important;
}

.multicolumn-card__info {
  text-align: left;
  padding-left: 5px;
}

.multicolumn-card__info h3 {
  font-style: normal;
  font-variant: normal;
  font-weight: medium;
  font-size: 16px;
  line-height: 19px;
  font-family: Montserrat;
  letter-spacing: 0px;
  color: #000000;
}

.multicolumn-card__info .rte {
  margin-top: 0.5rem !important;
}

.multicolumn-card__info .rte p {
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  font-family: Montserrat;
  letter-spacing: 0px;
  color: #383838;
}

@media screen and (min-width: 750px) {
  .media.media--transparent.media--adapt {
    width: 57px !important;
  }

  .multicolumn-card__info h3 {
    font-size: 18px;
    line-height: 22px;
  }

  .multicolumn-card__info .rte {
    margin-top: 0.5rem !important;
  }

  .multicolumn-card__info .rte p {
    font-size: 18px;
    line-height: 22px;
  }
}

/* MULTICOLUMN END*/

/* CAROUSEL*/

@media screen and (min-width: 750px) {
}

@media screen and (min-width: 990px) {
  .product .grid__item.product__media-wrapper {
    max-width: 55% !important;
    width: calc(55% - var(--grid-desktop-horizontal-spacing) / 2) !important;
  }

  .product .product__info-wrapper.grid__item {
    max-width: 45% !important;
    width: calc(45% - var(--grid-desktop-horizontal-spacing) / 2) !important;
  }

  media-gallery {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  slider-component.slider-mobile-gutter {
    display: flex;
    flex-direction: column;
    order: 1;
    width: 100%;
    justify-content: center;
  }

  ul.product__media-list.grid {
    margin: 0;
  }

  modal-opener.product__modal-opener.product__modal-opener--image {
    max-width: 480px;
    max-height: 480px;
    margin-left: auto;
  }

  slider-component.thumbnail-slider.slider-mobile-gutter.quick-add-hidden.small-hide {
    display: flex;
    flex-direction: column;
    order: 0;
    width: 100px;
    height: 400px;
    justify-content: center;
    align-items: center;
  }

  ul.thumbnail-list.list-unstyled.slider.slider--mobile.slider--tablet-up {
    flex-direction: column;
    padding: 5px;
    width: 100px;
  }

  li.thumbnail-list__item.slider__slide {
    width: 100% !important;
  }
}

.slider-buttons.slider-buttons-desktop {
  display: flex !important;
  width: 100%;
}
.slider-buttons.slider-buttons-desktop .slider-button .icon {
  height: 10px;
}

/* CAROUSEL END */

/* SWIPER */

.swiper-container {
  display: flex;
}

.thumbSwiper {
  display: none !important;
}

.mainSwiper {
  max-width: 500px;
  display: flex;
  height: 100%;
  justify-content: center;
  align-self: center;
}

/* Mitigate window resize bug at 850px */
.mainSwiper .swiper-slide {
  width: 100% !important;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-pagination {
  position: inherit !important;
  bottom: 0 !important;
}

.mainSwiper .swiper-slide img {
  border-radius: 5px;
}

.mainSwiper .swiper-pagination-bullet {
  background: #f8f8f8;
  opacity: 1 !important;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: #e5e5e5;
}

@media screen and (min-width: 990px) {
  .thumbSwiper {
    justify-content: center;
    display: flex !important;
    align-self: center;
    max-height: 445px;
    max-width: 120px;
    margin-right: 20px;
  }

  .thumbSwiper .swiper-wrapper {
    flex-direction: column;
  }

  .thumbSwiper .swiper-slide {
    height: 100px !important;
    width: 100px;
    margin-bottom: 15px;
  }

  .thumbSwiper .swiper-slide img {
    border-radius: 3px;
  }

  .swiper-navigation {
    display: flex;
    height: 23px;
    padding-left: 120px;
    padding-top: 20px;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  .swiper-navigation div:empty {
    display: block;
  }

  .swiper-navigation .swiper-button-next,
  .swiper-navigation .swiper-button-prev {
    position: inherit;
    color: #000000 !important;
  }

  .swiper-navigation .swiper-button-next:after,
  .swiper-navigation .swiper-button-prev:after {
    font-weight: bold;
  }

  .swiper-pagination {
    display: none;
  }
}
/* SWIPER END */
