/* HEADER */

.announcement-bar__message {
  color: #ffffff;
}

header.header {
  display: flex;
  justify-content: space-between;
}

header.header.page-width {
  max-width: 1920px;
}

header-drawer {
  order: 4;
}

.header__search {
  /* Change liquid? */
  display: none !important;
}

@media screen and (min-width: 990px) {
  .header--middle-left {
    grid-template-columns: 1fr auto 1fr;
  }
}

.cart-count-bubble {
  top: 0rem;
  bottom: unset;
}

/* HEADER END */

/* PRODUCT INFO */

.product {
  align-items: center;
}

product-info.product__info-container {
  display: block;
  padding: 18px 23px 25px 28px;
  /* width: 475px;
  height: 275px; */
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 20px #00000029;
  border: 1px solid #d5d5d5;
  border-radius: 5px;
}

@media screen and (min-width: 750px) {
  product-info.product__info-container {
    padding: 18px 23px 25px 28px;
    max-width: 475px;
    max-height: 275px;
  }

  product-info.product__info-container > * + * {
    margin: 0;
  }

  product-info.product__info-container .product__text {
    margin-bottom: 12px;
    font-style: normal;
    font-variant: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 30px;
    font-family: Montserrat;
    letter-spacing: 0px;
    color: #000000;
  }

  product-info.product__info-container .product__title {
    margin: 0 0 20px 0;
  }

  product-info.product__info-container .product__title h1 {
    font-style: normal;
    font-variant: normal;
    font-weight: medium;
    font-size: 18px;
    line-height: 22px;
    font-family: Montserrat;
  }

  product-info.product__info-container .price {
    font-style: normal;
    font-variant: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    font-family: Montserrat;
  }

  product-info.product__info-container .price__container {
    margin: 0 0 20px 0;
  }

  product-info.product__info-container .price-item {
    font-style: normal;
    font-variant: normal;
    font-weight: 600;
    font-size: 18px !important;
    line-height: 22px;
    font-family: Montserrat;
  }

  product-info.product__info-container .price-item--sale {
    color: #1f47ff;
  }

  product-info.product__info-container .product__tax {
    vertical-align: unset;
    margin-left: 6px;
  }

  product-info.product__info-container .product__inventory {
    margin-bottom: 37px;
    font-style: normal;
    font-variant: normal;
    font-weight: medium;
    font-size: 15px;
    line-height: 19px;
    font-family: Montserrat;
    letter-spacing: 0px;
    color: #25a525;
  }

  product-info.product__info-container .product-form {
    margin: 0;
  }

  product-info.product__info-container .product-form__buttons {
    max-width: unset;
  }
}
